.header {
    text-align: center;
}

.title {
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

.instructions {
    max-width: 80%;
    font-size: 1.275rem;
    font-weight: bold;
    margin: 20px auto;
}

.startgame-container {
    display: flex;
    flex-direction: column;
}

.startgame-container input {
    width: 370px;
    height: 25px;
    align-self: center;
    padding: 5px;
    margin-bottom: 15px;
}