.topscore-container {
    margin: 0 auto;
    padding: 2em;
    background: #3a5060;
    max-width: 650px;
    height: auto;
    margin-top: 40px;
    border-radius: 1em;
    text-align: center;
}

.name-score-container {
    display: flex;
    justify-content: space-around;
}

.name-score-container h2 {
    margin-top: 0;
    width: 150px;
    padding-right: 10px;
}

.topscores-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.topscores-list li {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-right: 20px;
}

.topscores-list span {
    width: 150px;
}